@font-face {
    font-family: "Norse-Bold";
    src: url("Norse-Bold.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 30% 70%;
    font-family: "Helvetica", "Arial", sans-serif;
}

.sidebar {
    background-color: aliceblue;
    grid-row: 1 / span 3;
    background-image: url(halie-west.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.head {
    background-color: #F9FAFB;
    color: #000000;
    font-size: x-large;
    font-weight: 400;
}

.body {
    background-color: antiquewhite;
}


.foot {
    background-color: burlywood;
}

/* .sidebar {
    background-image: url(halie-west.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.upper-sidebar {
    height: 35vh;
    display: flex;
    align-items: end;
}

.logo-text {
    font-family: "Norse-Bold";
    color: #ffffff;
    font-size: 4em;
}

.logo-image {
    width: 6em;
    height: 6em;
}

.logo-area {
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
} 
*/